# SERVER
APP_NAME=PosterLab
NODE_ENV=developement
PORT=4000
CLIENT_ORIGIN=http://localhost:3000
# JSONWEBTOKEN
JWT_SECRET=
# DATABASE
MONGO_DB_USER=
MONGO_DB_PASSWORD=
MONGO_DB_CONNECTION_URL=
# CLOUDINARY
CLOUDINARY_CLOUD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# SMTP
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
# REDIS
REDIS_URL=
REDIS_HOST=
# GEMINI IMAGE GENERATION
GEMINI_API_KEY=
GEMINI_API_PROJECT_NUMBER=